server:
  port: 8082

spring:
  application:
    name: gateway-server
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml

    gateway:
      discovery:
        locator:
          enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

gateway:
  security:
    authServerBaseUrl: lb://auth-server
    whitelist:
      - /auth/api/login
      - /portal/api/login
      - /portal/api/action/**
