server:
  port: 8080

spring:
  application:
    name: auth-server
  redis:
    host: localhost
    port: 6379
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml

sa-token:
  token-name: satoken
  is-read-cookie: true
  is-write-cookie: true
  cookie:
    http-only: true
